Package: athena-open-terminal
Version: 0.19-2
Architecture: i386
Maintainer: Emilien Klein <emilien+debian@klein.st>
Installed-Size: 752
Depends: gconf-service, libathena-extension1a (>= 1.0), libc6 (>= 2.2), libgconf-2-4 (>= 2.31.1), libglib2.0-0 (>= 2.18.0), libgnome-desktop-3-2 (>= 3.2.0), libgtk-3-0 (>= 3.0.0), gconf2 (>= 2.28.1-2)
Section: gnome
Priority: optional
Description: athena plugin for opening terminals in arbitrary paths
 athena-open-terminal is a Athena extension which allows you to
 open a terminal in arbitrary local or distant folders.
 It provides a right-click "Open Terminal" option in any Athena
 window.
